{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <form class="form" action="{% url 'tasks:add_group' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Enter title of new group:</label><br>
                <input type="text" name="group_name" id="group_name">
                <label for="group_order">Point out the order number of your group:</label><br>
                <input type="number" name="group_order" id="group_order">
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}
