{% extends "base.html" %}
{% block content %}
    {% if groups %}
        {% for group in groups %}
        <div class="group">
            <h1>{{ group.group_name }}</h1>
            <a href="{% url 'tasks:add_task' group.id %}" class="ag">Add new task</a>&nbsp | &nbsp
            <a href="{% url 'tasks:edit_group' group.id %}" class="ag">Edit</a>&nbsp | &nbsp
            <a href="{% url 'tasks:delete_group' group.id %}" class="ag">Delete group</a>
            <hr>
            <br>
            {% for task in tasks %}
                {% if task.progress == group.group_name and task.title != ''%}
                    <div class="jumbotron">
                        <a href="{% url 'tasks:details' task.id %}">
                            <p><b>Title:</b> {{ task.title }}</p>
                        </a>
                        <p><b>Description:</b> {{ task.description }}</p>
                        <p><b>Priority:</b> {{ task.priority }}</p>
                        <p><b>Created on:</b> {{ task.created_at }}</p>
                        <a href="{% url 'tasks:edit' task.id %}">Change</a>&nbsp | &nbsp
                        <a href="{% url 'tasks:details' task.id %}">Details</a>&nbsp | &nbsp
                        <a href="{% url 'tasks:move' task.id %}">Move to next</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <h1>No tasks or groups yet!</h1>
        <h2><a href="{% url 'tasks:add_group' %}">Create your first group of tasks</a></h2>
    {% endif %}

{% endblock %}